[2015-06-10 11:09] ITsvetkoFF opened #3 "[low] Відображення Інозкмної мови"
Всі іноземні мови відобразити у списку як один рядок у якому Додаткова назва будуть відобрадатися назви через кому

[2015-06-10 11:09] ITsvetkoFF opened #4 "[low] Проблеми при створення пропозиції"
Після занесення всієї інформації у поля і натисканні Зберегти відправляється {note: "some note"}
причому це поле не є обов`язкове

[2015-06-10 11:10] ITsvetkoFF opened #5 "Прогресбар >100%"
Якщо при редагуванні персони переходиш до адрес а потім до основної інформації то прогрес бар показує більше 100%

[2015-06-10 11:10] ITsvetkoFF opened #6 "[low] баг при переходах між сторінками у списку заяв"
Якщо користувач не вибрав кількість відображення записів то він не може переходити на 2 сторінку

[2015-06-10 11:11] ITsvetkoFF opened #7 "запити при відображенні списку заяв"
при відображенні першої сторінки списку заяв до сервера робляться три підряд ідентичні запити
/enrolments?limit=10&offset=0

[2015-06-10 11:11] ITsvetkoFF opened #8 "Баг при відображенні списку персон"
при відкритті персон далі натискаєм щоб посортувати по id виникає таке
можливо значення по замовченні в якісь змінні стоїть 1

[2015-06-10 11:11] ITsvetkoFF opened #9 "запити при відображенні списку заяв"
при відображенні першої сторінки списку заяв до сервера робляться три підряд ідентичні запити
/enrolments?limit=10&offset=0

[2015-06-10 11:12] ITsvetkoFF opened #10 "[low] Додати історію пропозицій у заяві"
Додати можливість додавати пропозиції у заяві з історії останніх додавань
наприклад замість червоного крадрата буде кнопка при якій нажимає користувач і буде бачити останні пропозиції на які вносив він заяви.

[2015-06-10 11:12] ITsvetkoFF commented on #10
![image](https://cloud.githubusercontent.com/assets/7273003/8081115/bed7dcb2-0f7a-11e5-91e2-0792ac44f332.png)

[2015-06-10 15:25] ivanursul opened #11 "[low] Імплементнути пейджинейшн"
http://194.44.198.221/#/dictionaries

Зайшли сюди з університетського компютера, вибрали "Адміністративно - територіальні одиниці" і комп завис.Дивились в консольку, бачимо, що там шлються запити на витягнення всіх адміністративно - територіальних одиниць. Чи можливо підтягувати перші 10-20(константне число) записів, а решту підтягувати ? Ми кожним запитом шлемо count, offset i limit
count -  кіль

[2015-06-10 15:27] ivanursul opened #12 "[low] верстка /dictionaries"
http://194.44.198.221/#/dictionaries

Чи можна трошки зробити так, щоб шапку таблиці було легше побачити ?)
Маю на увазі, змінити стиль всіх таблиць на сайті

[2015-06-10 15:28] ivanursul commented on #12
Наприклад, шоб було так само, як на сторінці персон ?

[2015-06-10 15:58] ivanursul opened #13 "Бага при створенні персони"
Якщо добавити перший предмет до ЗНО вкладки при додаванні персони - коли добавляти другий предмет - лишається бал з першого

[2015-06-10 16:13] illay1994 opened #14 "[critical] Створення персони- місце народження"
коли вибираєш місце народження спочатку поясляється країна потім області а потім міста. Не дуже очевидно все у одному полі, відповідно його кожного раз треба переоберати.
Коли вибираєш адміністративну одиницю і вона є проміжна то щоб дроббокс сам випадав підсказуючи користувачу щоб він далі втбирав.

[2015-06-10 16:17] ivanursul opened #15 "[?normal] Зробити Wizard при створенні персони"
Коли створюється персона, добавляється основна інофрмація, потім потрібно перейти в вкладку адреса, потім на інші вкладки, і лиш після цього потрібно натиснути кнопку "Зберегти". Всі члени вступної кампанії висловили бажання бачити цей функціонал в виді вайзарда, тобто
.Спочатку відправити Основні дані, відправити на сервер
Потім відправити додатково адресу, бали і тд.
Таким чином це розбиває проц

[2015-06-10 16:20] illay1994 opened #16 "[critical] персони - додати персону - вкладка Основна інформація"
Додати до основної інформації такі поля:
Номер, серію і ким видано атестат
Номар, серію і ким видано паспорт
Номер, серію і пін ЗНО

[2015-06-10 16:26] ivanursul opened #17 "[low] Забезпечити можливість запускати сервер з різним хостом бекенду"
Треба щось типу такого
npm install --backend.url=http://dev-api.admission.lnu.edu.ua/api

Хто візьметься за таке ?

[2015-06-12 11:25] Krapka opened #19 "Error notification"
Steps to reproduce
1. Open ‘ЛНУ’ project
2. Go to the ‘Персони’ page
3. Push ‘back’ button on web-browser

Expected result

We turn on ‘Пропозиції’ page normally

Result

Page ‘Пропозиції’ shows up error notification

Bug reproduction   http://gyazo.com/dbc14f19e418113a2b329548c715c6c5

[2015-06-12 11:25] Krapka opened #20 "Error notification"
Steps to reproduce
1. Open ‘ЛНУ’ project
2. Go to the ‘Персони’ page
3. Push ‘back’ button on web-browser

Expected result

We turn on ‘Пропозиції’ page normally

Result

Page ‘Пропозиції’ shows up error notification

Bug reproduction   http://gyazo.com/dbc14f19e418113a2b329548c715c6c5

[2015-06-12 11:26] #20 closed, assigned to nobody

[2015-06-12 11:33] Krapka opened #21 "Incorrect data"
Steps to reproduce
1. Open ‘ЛНУ’ project
2. Open ‘Персони’ page
3. Click ‘+Додати персону’ button
4. In field ‘Ім’я’ and ‘Прізвище’ enter ‘123’

Expected result

Field should be highlighted red as incorrect data entered (like in ‘Прізвище (англ)’ field)

Result

This field doesn`t react on incorrect data
![12](https://cloud.githubusercontent.com/assets/8030424/8129248/fff00d14-110f-11e5-8158-c4623

[2015-06-12 11:52] Krapka opened #22 "Збивається дата народження"
В "додавання персони", "основна інформація" дата народження відображається некоректно. Збивається після переходу на іншу вкладку
![f913e7efc735e9343915c4162aa3513e](https://cloud.githubusercontent.com/assets/8030424/8129511/8f0d2fac-1112-11e5-8c2a-2fa8f9993073.png)

[2015-06-12 11:59] Krapka opened #23 "Не зберігається інформація"
Після заповнення всіх полів, кнопка "зберегти" неактивна. А після натискання "видалити" нічого не змінюється
Відтворення http://gyazo.com/8eee65a6cc1ab24a4ff5f384c7f583a1

[2015-06-14 13:43] Krapka opened #24 "Неактивне посилання"
В "Додавання пропозиції" при наведені на посилання "пропозиції" з'являється текстовий курсор
![6b64c74adb3435c2086628c7f148d9e5](https://cloud.githubusercontent.com/assets/8030424/8148715/3ca86a78-12b2-11e5-95c5-a81487a4b4f6.png)

[2015-06-14 13:48] Krapka opened #25 "[low] Відсутнє випадаюче меню в додаванні пільг"
При створенні пропозиції в розділі "пільги"-"додати пільги" відсутнє випадаюче меню і можливість ввести назву пільги самостійно.

GIF http://gyazo.com/93561e8c78d834c2ab1284c73fd3856a

[2015-06-14 14:12] Krapka opened #26 "Порожнє вікно сповіщення"
При пересувнні по сайту кнопками "вперед" "назад" в  деяких випадках (наприклад з меню "заяви" повернутись в "пропозиції") з'являється порожня спливаюча підказка.
![bd420b4c248198c84fc9ce33454f1a84](https://cloud.githubusercontent.com/assets/8030424/8148871/7e2fa19a-12b8-11e5-9e81-3abb31d78725.png)

[2015-06-14 16:00] yelyzaveta-buts commented on #19
in progress

[2015-06-14 16:00] yelyzaveta-buts commented on #26
in progress

[2015-06-14 16:15] ITsvetkoFF commented on #8
https://cloud.githubusercontent.com/assets/10198202/7670280/f45935d4-fca6-11e4-877d-09dc28251fbb.png

[2015-06-14 16:42] illay1994 commented on #3
ці два предмети мають відображатися одним рядком

![2015-06-14 19 41 39](https://cloud.githubusercontent.com/assets/10198202/8149487/6c788790-12cd-11e5-8dc1-d1898890728c.png)

Тобто якщо із сервера приходять запит із іоземними мовами і там є що поля всі однакові крім назви то їх об’єднувати

[2015-06-15 07:08] ITsvetkoFF commented on #22
fixed in Pull Request #30

[2015-06-15 07:09] ITsvetkoFF commented on #13
fixed in Pull Request #30

[2015-06-15 07:09] ITsvetkoFF commented on #24
fixed in Pull Request #30

[2015-06-15 07:09] ITsvetkoFF commented on #19
fixed in Pull Request #27

[2015-06-15 07:10] ITsvetkoFF commented on #26
fixed in Pull Request #27

[2015-06-15 07:11] ITsvetkoFF commented on #5
fixed in Pull Request #28

[2015-06-15 07:13] ITsvetkoFF commented on #23
It may be fixed after progressbar fix.

[2015-06-15 07:13] ITsvetkoFF commented on #23
as I remember button should be active only after entering the addess.

[2015-06-15 07:14] ITsvetkoFF commented on #25
fixed in Pull Request #29

[2015-06-15 11:30] ITsvetkoFF commented on #14
Better solution proposed in PR #31
Illya, please review.

[2015-06-15 11:35] ITsvetkoFF commented on #25
Пофікшено такім чином: якщо масив пільг які можна додати пустий - в плейсхолдері з*являється відповідне повідомлення.

Ілля, зауваж:
після того як для пропозиції ми видалили деякі пільги, вони не з`являються в випадаючому меню в "додати пільгу". чи це очікувана поведінка?
Якщо ні, то треба додати відповідний баг

[2015-06-15 11:48] #23 closed, assigned to nobody

[2015-06-15 11:50] #19 closed, assigned to nobody

[2015-06-15 11:52] #7 closed, assigned to nobody

[2015-06-15 11:52] ITsvetkoFF commented on #7
дублікат

[2015-06-15 11:53] #5 closed, assigned to nobody

[2015-06-15 11:54] ITsvetkoFF commented on #4
Цей issue створений Іллею перенесено мною з нашого групового репозиторію. Ілля, підкажи що по ньому треба зробити?

[2015-06-15 12:03] #22 closed, assigned to nobody

[2015-06-15 12:03] #13 closed, assigned to nobody

[2015-06-15 12:03] #24 closed, assigned to nobody

[2015-06-15 12:08] #26 closed, assigned to nobody

[2015-06-16 16:01] illay1994 commented on #4
У всіх запитах POST до back-end не має бути поля note

[2015-06-16 16:39] illay1994 opened #32 "[low] Проблеми із дизайном"
Дизайн весь поїхав і не працює
http://c2n.me/3jnG0DX.png

[2015-06-16 17:39] Krapka opened #33 "Очепятка"
У "вступній компанії 2014/2015" пропущена літера "т". Це на сторінці пропозиції

[2015-06-16 17:45] Krapka opened #34 "[hight] Не зберігається інформація у полях при переході між табами чи views"
При створенні пропозиції, якщо переключатись між вкладками, не збережена інформація зникає.

[2015-06-17 07:17] #33 closed, assigned to illay1994

[2015-06-17 09:40] evgeniy-aksyonov commented on #32
Проверил у себя локально. Ни на старой копии проекта, ни на новой такой проблемы нет. Было бы хорошо, чтобы кто-то из тестеров еще перепроверил.

[2015-06-17 11:30] Krapka commented on #32
У мене все добре відображається, такої проблеми не виникало на жодній копіїї

[2015-06-17 15:54] Krapka opened #35 "[low] Видалення пільг"
Всі пільги обираються за замовчуванням, якщо якась зайва її необхідно видалити. Пробувала видалити кілька штук і зберегти лише обрані, все-одно, після оновлення сторінки, завантажується повний список пільг.

[2015-06-17 20:27] Krapka opened #36 "[low] Кнопка перегляду"
У вступній компанії вона відсутня, а в списку персон вона є. Так і має бути?
![164ee9c77bc8167fbe48e7edac2f1d56](https://cloud.githubusercontent.com/assets/8030424/8217860/63ac88e6-1548-11e5-90ab-1ce41864d683.png)

[2015-06-17 21:00] Krapka opened #37 "[critical] Фільтрація персон"
При заповненні картки персона, якщо не проставляти галочки в -гуртожиток, - іноземець, - військовозобов., а потім в фільтрації обрати -не треба гуртожиток, -не іноземець і  - не військ. то такої картки не знаходить.
Тобто, фільтрація реагує лише на заповнений чек бокс

[2015-06-18 11:12] ITsvetkoFF commented on #32
bower install не проходить!

It seems that there's another software called "node" (Amateur Packet Radio Node program). I removed that software with sudo apt-get remove node, reinstalled nodeJS, then sudo npm install bower -g et voila!!!
http://stackoverflow.com/questions/15327595/bower-command-not-returning-anything

[2015-06-18 12:05] ITsvetkoFF commented on #9
тут деви ніби взяли цей баг, але він не репродьюситься. мабуть, на новому фронті його просто нема)

[2015-06-18 20:20] MPushkar commented on #32
Workaround:
Insert a following line (11th) into an index.html file once the "grunt serve" command will be completed and save changes:

link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />

[2015-06-18 20:23] MPushkar opened #42 "Login page GUI issues"
Following GUI issues should be fixed on the login page:

1) Actual result: A colon character is missing after the "Будь ласка, авторизуйтеся".
Expected: "Будь ласка, авторизуйтеся:"

2) Actual result: "Ввійти" is not the best label for the button.
Expected: Either "Увійти" or "Авторизуватися" should be used instead.

![lnu_login_page](https://cloud.githubusercontent.com/assets/12950571/8241253/eb0

[2015-06-18 20:50] okrasn commented on #8
Не зміг репродюснути

[2015-06-18 21:05] okrasn commented on #32
Issue detected: problem in `'wiredep'` task that runs from `418` line of code.
Maybe this is not an issue and on production environment it will runs correct.

Description to the task is `// Automatically inject Bower components into the app` but I think it runs incorrect.

[2015-06-19 11:50] MPushkar opened #43 "[critical] URLs to an old server should be replaced with URLs to a new server all over Frontend"
Steps to reproduce:
1. Login to system under Admin and go to a "Пропозиції" tab.
2. Click "Створити нову вступну кампанію" and type-in any valid values into the form.
3. Click "Створити" button.

Expected result:
New record should be added.

Actual result:
New record cannot be added because the request has been sent to an old IP (104.236.29.16) instead of a new one (194.44.198.222).

PLEASE NOTE t

[2015-06-19 14:23] MPushkar commented on #42
Please put the colon character after the "Будь ласка, авторизуйтеся".

[2015-06-19 14:28] MPushkar commented on #21
Returned:
"По-батьковi" field should have same validation as well.

[2015-06-19 21:38] MPushkar opened #44 "[normal] Frontend has two different styles of drop-down lists"
Steps to reproduce:
1. Login to system under Admin and go to a "Персони" tab.
2. Click "+Додати персону" button to open "Нова персона" form.
3. Go to "Адреса" tab.

Expected result:
"Адреса" tab should be opened and style of drop-down lists should be SAME for following fields:
- "Територіальна одиниця"
- "Тип"

Actual result:
"Адреса" tab is opened and style of drop-down lists is DIFFERENT for fol

[2015-06-20 14:37] okrasn commented on #42
fixed in pull https://github.com/ifnul/ums-admission-frontend/pull/45

[2015-06-20 14:42] okrasn commented on #9
![9](https://cloud.githubusercontent.com/assets/1484822/8267675/99a32248-1773-11e5-9283-53abb2802058.png)

Баг репродюситься, у мене 2 однакові запити ідуть при лоаді сторінки

[2015-06-20 14:47] okrasn commented on #21
fixed in pull https://github.com/ifnul/ums-admission-frontend/pull/45

[2015-06-20 16:02] okrasn commented on #43
![43](https://cloud.githubusercontent.com/assets/1484822/8268001/880a648c-177e-11e5-9e12-2ccfd8476038.png)

Знайшов посилання на 2 різні серваки. Не видаляв, щоб не зламати, було б краще щоб людина яка більше знає специфіку проекту глянула

[2015-06-21 11:30] okrasn commented on #4
fixed in pull https://github.com/ifnul/ums-admission-frontend/pull/38

[2015-06-22 10:22] MPushkar opened #46 "[critical] Filters within same group on "Персони" tab should work as 'and'"
Pre-conditions:
- Both male and female records should be present in a list of persons.

Steps to reproduce:
1. Login to system under Admin and go to a "Персони" tab.
2. Select "Стать чоловіча" option.
3. Select "Стать жіноча" option.
4. Click "Оновити" button.

Expected result:
Both male and female records should be present in the list of persons.

Actual result:
Only FEMALE records are shown in t

[2015-06-22 10:55] Krapka opened #47 "[critical] Чутливість до регістру"
Прибрати чутливість до регістру в пошукових полях (на сторінках "персони" та "заяви")

[2015-06-22 11:02] ITsvetkoFF commented on #43
це недодивились розробники. посилання на сервак має братись з сервісу констант (тобто всюди має бути однакове)

[2015-06-22 11:07] ITsvetkoFF commented on #43
тобто в сервісі копіювання таймперіодів треба лише брати значення з сервісу Констант.

[2015-06-22 13:24] #42 closed, assigned to MPushkar

[2015-06-22 13:29] #21 closed, assigned to MPushkar

[2015-06-22 14:14] MPushkar opened #48 "[low] "Скасувати" button should be added to all input forms where user is able to modify data"
"Скасувати" button should be added to <b>all input forms</b> where user is able to modify data (regardless it is a new record or existing one):
![lnu_cancel_button3](https://cloud.githubusercontent.com/assets/12950571/8283759/c5feef36-1901-11e5-8f55-89af1f94373d.png)

By clicking on this button <b>a dialogue should be opened</b> and System should ask user whether he wants to close the input form w

[2015-06-22 14:22] MPushkar opened #49 "[low] "Видалити" button should be excluded from all input forms where we're adding new data (not modifying existing)"
"Видалити" button should be excluded from <b>all input forms</b> where user is <b>adding new data</b> (not modifying existing).
It doesn't make sense to delete record that hasn't been created yet.
If user wants to discard changes it would be enough for him just to click "Скасувати" button instead (see an <a href="https://github.com/ifnul/ums-admission-frontend/issues/48">Issue #48</a>).

[2015-06-22 14:30] MPushkar opened #50 "[low] "ЛНУ" element on the top left corner shouldn't redirect user to any URL and should not be clickable"
"ЛНУ" element on the top left corner shouldn't redirect user to any URL and should not be clickable.

[2015-06-23 09:40] MPushkar opened #51 "[?critical] A whitespace (" ") and a hyphen ("-") characters should be allowed in person's name fields"
A whitespace (" ") and a hyphen ("-") characters should be allowed in person's name fields.

Currently system incorrectly validates names such as "Олександр-Марко" or "Марія Вероніка" and marks such fields as <b>invalid</b>.
This behaviour is incorrect because person might have non single-word name/surname.

[2015-06-23 10:28] MPushkar opened #52 "[low] "Заяви"->"Додавання заяви": "Шкала оцiнювання" drop-down list has no values"
Steps to reproduce:
1. Login to System under Admin and go to a "Заяви" tab.
2. Click "+ Додати заяву" button to open an input form.
3. Expand the "Шкала оцiнювання" drop-down list.

Expected result:
"Шкала оцiнювання" drop-down list should be expanded with pre-defined values.

Actual result:
"Шкала оцiнювання" drop-down list has no pre-defined values and user is not able to enter any value into th

[2015-06-23 10:29] MPushkar opened #53 "[critical] Nothing happens after clicking "+ Додати новий документ" button"
Steps to reproduce:
1. Login to system under Admin and go to a "Заяви" tab.
2. Click "+ Додати заяву" button to open an input form.
3. Click "+ Додати новий документ" button to attach a new document.

Expected result:
A form for a new document should be opened.

Actual result:
Nothing happens after clicking the "+ Додати Додати новий документ" button.

[2015-06-23 11:19] MPushkar opened #54 "[low] A question dialogue box should be shown if user wants to delete a record from "Пропозиції", "Персони" or "Заяви" tab"
Steps to reproduce:
1. Login to system under Admin and go to a "Пропозиції" tab.
2. Click [X] button in order to delete any existing record.

Actual result:
Record is removed without any clarifications.

Expected result:
A question dialogue box should be shown asking user about deletion of the record.

By clicking the [X] button next to the record, System should ask user whether he really want to

[2015-06-23 12:33] Krapka commented on #53
Документ додається якщо він створений в персоні

[2015-06-23 13:44] MPushkar opened #55 "[low] System should warn user when he wants to switch to another screen without saving data that was entered into input form"
Steps to reproduce:
1. Login to System under Admin and go to a "Пропозиції" tab.
2. Click "+ Додати пропозицію" button to open an input form.
3. Modify any field on the input form in order to change a status of the progress bar.
4. Click header or the "Пропозиції" tab to switch to this screen.

Actual result:
User is able to switch to another screen without saving data and any dialogue box are not

[2015-06-23 14:47] MPushkar opened #56 "[?normal] User should not be able to generate more than one Person's record using the same input form"
Steps to reproduce:
1. Log-in to System under Admin and go to a "Персони" tab.
2. Click "+ Додати персону" button to open an input form.
3. Complete the input form and click "Зберегти" button.
4. Click "Зберегти" button one more time and close the input form.

Expected result:
New record with entered data should be saved <b>only once</b>.
(like in case when we modify existing record)

Actual resul

[2015-06-23 15:41] MPushkar opened #57 "[low] Move "I'мя (англ)" and "Прізвище (англ)" fields under the name fields in ukrainian"
Tabulation for current scheme is following:
![lnu_tabuation1](https://cloud.githubusercontent.com/assets/12950571/8310122/b87c12fa-19d6-11e5-9047-93bcc79508aa.png)

Such scheme is not very comfortable to use because user should switch the keyboard few times to type-in all values.

Offered scheme is following:
![lnu_tabuation2](https://cloud.githubusercontent.com/assets/12950571/8310231/3a1eec06-19

[2015-06-24 10:48] MPushkar opened #58 "[low] An input form doesn't fit the screen after resize"
Steps to reproduce:
1. Login to system under Admin and go to a "Пропозиції" tab.
2. Select any "Вступна кампанія" and resize the screen.

Actual result:
Screen is resized and all controls are shown within the input form.

Expected result:
Some controls and fields are beyond the input form.

![lnu_beyond_border](https://cloud.githubusercontent.com/assets/12950571/8328166/138b4b7a-1a77-11e5-8f75-9ca

[2015-06-24 10:54] MPushkar opened #59 "[normal] User is not able to delete records from a "Персони" tab."
Pre-conditions:
- Any person record should be present on a "Персони" tab.

Steps to reproduce:
1. Log-in to System under Admin and go to the "Персони" tab.
2. Click [X] button to remove the record from the "Персони" tab.

Expected result:
The record should be removed.

Actual result:
The record is <b>still present</b> on the screen. It is not deleted.

[2015-06-24 11:01] MPushkar opened #60 "[low] It might be a good idea to add filters and sorting functionality to a "Пропозиції" tab"
Currently it is hard to find records which user might need.

[2015-06-24 15:57] ivanursul opened #61 "ФІльтрування персони - мультизначення"
Відтепер появилась можливість фільтрувати персони по мультизначенню.

http://194.44.198.222:8080/is-lnu-rest-api/api/persons?firstNames=[Анаста,Іва]

Список додаткових полів, по яких можна фільтрувати API /api/persons

Відповідно, потрібно забезпечити фільтрування по цих значеннях.

List < Long> parentIds;
List < Long> personTypeIds;
List < Long> genderTypeIds;
List < Long> marriedTypeIds;
List <

[2015-06-25 11:17] ITsvetkoFF commented on #43
fixed

[2015-06-25 12:02] MPushkar commented on #61
Does this fix resolve an Issue https://github.com/ifnul/ums-admission-frontend/issues/46 and Issue https://github.com/ifnul/ums-admission-frontend/issues/37?

[2015-06-25 12:10] MPushkar commented on #32
I've marked this issue with a <b>[low]</b> priority because it might be an issue on our testing environment. However, we need to clarify this and I've reassigned current item to Ilya for a review.

[2015-06-25 12:21] MPushkar commented on #14
Igor, I assume that current enhancement had been improved within Pull #31.
Maybe we can close this item. What do you think?

[2015-06-25 15:30] Krapka opened #63 "Валідні значення"
Власне, налаштувати введення наступних символи для полів. Список допустимих значень для кожного поля: https://docs.google.com/document/d/1ZdwMlICE9U0-5mEm6bUKjFDVNpaTKBIgpn4gDBy5nVI/edit

[2015-06-25 15:33] #63 closed, assigned to nobody

[2015-06-25 15:49] Krapka opened #64 "[low] Перегляд персони -> документи"
Прибрати іконки редагування та видалення оскільки вони не потрібні і не функціонують.
ВАЖЛИВО: прибрати лише при перегляді(!) персони
![f42f0d3151f2a434ed0ea517c08d3d5d](https://cloud.githubusercontent.com/assets/8030424/8358765/cab4b82e-1b6a-11e5-918e-6d98d4772a60.png)

[2015-06-25 16:11] Krapka opened #65 "[low] Збивається дата ("додавання заяви")"
В "додаванні заяви" всі дати відображаються некоректно. Збиваються після переходу на інші вкладки
![9ddaed8189c4779ba5c2b040926fba3b](https://cloud.githubusercontent.com/assets/8030424/8359035/8cfb863c-1b6c-11e5-96e9-e669af01bdeb.png)

[2015-06-25 16:22] Krapka opened #66 "[? critical] Створення "Заяви" через "Персону" не зберігається"
1. Сторінка "персони" -> відкриваю "редагування персони"
2. Обираю вкладку "заяви" -> "додати заяву"
3. Заповнюю всі поля
4. Натискаю кнопку "зберегти"

Очікуваний результат
Запис зберігається і відображається на сторінці "Заяви" та у картці "Персона", вкладка "заяви"

Фактичний результат
Після натискання "зберегти", нічого не відбувається

[2015-06-25 16:33] Krapka opened #67 "[critical]Редагування існуючого запису в "Заяви""
1 Сторінка "персони" -> відкриваю "редагування персони"
2 Обираю вкладку "заяви" -> "додати заяву"
3 Заповнюю всі поля
4 Натискаю кнопку "зберегти". Запис не збергіається
5.Переходжу на сторінку "заяви", обираю редагування вже існуючого запису.

Очікуваний результат
Відкриється раніше створений запис з можливістю його редагування

Фактичний результат
Запис відкривається з еррор нотифікейшн і попер

[2015-06-25 17:59] ITsvetkoFF commented on #14
yes, we can close this one

[2015-06-25 18:00] ITsvetkoFF commented on #4
fixed

[2015-06-25 18:00] #4 closed, assigned to illay1994

[2015-06-25 18:00] #14 closed, assigned to ITsvetkoFF

[2015-06-26 11:27] MPushkar opened #68 "Change Request: new style of the input form should be implemented for a new Person record"
<b>This issue is a Change Request from Ilya</b>

New schema of the input form should be implemented for <b>adding a new Person record</b>:
![lnu_input_form](https://cloud.githubusercontent.com/assets/12950571/8376336/df40e96c-1c0e-11e5-9ed4-be280c8141ca.png)

[2015-06-26 12:48] MPushkar opened #69 "Change Request: Default number of records displayed per page should be 10 for "Персони" and "Заяви""
<b>This issue is a Change Request from Ilya</b>

Pre-conditions:
- At least 11 records should be present on a "Персони" tab.

Steps to reproduce:
1.Log-in to System under Admin and go to the "Персони" tab.

Actual result:
All records are shown on the screen.
Marker "10" is not selected:
![lnu_records_per_page1](https://cloud.githubusercontent.com/assets/12950571/8377451/121475f6-1c1a-11e5-8a5f-7ae

[2015-06-27 13:17] MPushkar opened #70 "Following tabs should be hidden from Frontend: "Пропозиції" and "Статистика" (valid for version 1.0)"
<b>Change Request from Ilya</b>

Following tabs should be hidden from Frontend:
- "Пропозиції";
- "Статистика".

This change request is temporary and <b>valid for version 1.0 only</b>.

[2015-06-27 14:03] MPushkar commented on #43
Was tested on <a href="http://194.44.198.220/job/ums-admission-frontend/19/changes">Build #19 (Jun 25, 2015 7:19:53 AM)</a>.

[2015-06-27 14:03] #43 closed, assigned to MPushkar

[2015-06-28 12:18] ivanursul commented on #61
46 ішшю вже давно зафіксано

[2015-06-28 12:19] ivanursul commented on #61
37 - гляну з понеділка

[2015-06-28 12:19] ivanursul commented on #61
Але сама суть ішшю в тому, шо потрібно відправляти значення в множині за патерном, який я скинув вище

[2015-06-30 14:15] MPushkar opened #71 "Персони: searching by "id персони" doesn't work and cause an error message to show"
Steps to reproduce:
1. Login to system under Admin and go to a "Персони" tab.
2. Select "id персони" option in "Пошук по:" field.
3. Type-in any valid id and click "OK" button.

Expected result:
Only matched person should be shown within grid.

Actual result:
Following error is shown:
![lnu_id_error](https://cloud.githubusercontent.com/assets/12950571/8432926/a3b51234-1f4b-11e5-82ad-1cef439c92a8.p

[2015-06-30 14:36] ivanursul commented on #71
Можеш скинути який ріквест шлеться?
там має бути шось типу
/api/persons?id

[2015-06-30 15:25] MPushkar commented on #71
Вот:
http://194.44.198.222:8080/is-lnu-rest-api/api/persons?id=1&limit=25&offset=0

[2015-06-30 17:24] ivanursul commented on #71
ну дивись, а який сенс в такому запиті ?
http://194.44.198.222:8080/is-lnu-rest-api/api/persons?id=1&limit=25&offset=0

id=1
якщо такий запис існує, то тільки один, тому що id - ключ, ідентифікатор

limit=25
Якщо id може бути тільки з одним значенням, то який сенс вказувати скільки елементів потрібно дістати?

offset=0
Те саме

Замість такого методу можна використовувати ось такий метод
/api/perso

[2015-07-01 09:08] MPushkar commented on #69
<b>Returned.</b>

Pre-conditions:
At least 11 records should be present on a "Персони" tab.

Steps to reproduce:
1. Log-in to System under Admin and go to the "Персони" tab.
[remember the records that are shown in grid on page 1]
2. Go to page 2.

Actual result:
Same records are shown on the page 2.

Expected result:
User should be able to turn the pages and each time <b>next</b> 10 records should

[2015-07-01 13:15] MPushkar commented on #71
Я - только за, т.к. id всё равно является уникальным значением и нет смысла пытаться генерировать целую гирлянду результатов, если нам всё равно всегда будет возвращаться лишь один.

[2015-07-01 13:51] MPushkar commented on #69
<b>Update.</b>
User should be able to select sorting order and turn the pages according to this order.

Actual result:
Ordering of records <b>resets to default</b> each time after turning the pages.

[2015-07-01 14:37] MPushkar commented on #51
Tested.

[2015-07-01 14:37] #51 closed, assigned to MPushkar

[2015-07-01 18:01] ivanursul commented on #47
Сів, подумав, думки вслух:
Мені здається доцільніше буде прибрати чутливість до регістру на стороні фронтенду - поясню чому: Якщо ми, приймаючи значення на бекенді - будемо їх перетворювати в lower case - ми таким чином обмежимо наше API до конкретного кейсу. Якщо в майбутньому нам потрібно буде шукати по критеріях чутливості - в нас такої можливості не буде.

Постараюсь завтра на фронтенді пофікс

[2015-07-01 18:17] okrasn commented on #37
такого роду запити ідуть на сервер зараз

`http://194.44.198.222:8080/is-lnu-rest-api/api/persons?genderTypeId=1&genderTypeId=2&limit=20&offset=0&personTypeId=1`

[2015-07-01 20:00] mkozhukharenko commented on #52
де можна отримати pre-defined values ?

[2015-07-01 20:08] mkozhukharenko commented on #47
тобто на фронтенді потрібно перетворювати всі пошукові запити до lower case?

[2015-07-01 20:09] mkozhukharenko commented on #52
GET /marks/scales/types
GET /marks/scales
повертають путсі масиви

чи ці значення потрібно просто захардкодити?

[2015-07-01 20:30] ivanursul commented on #47
Та, здалось би
Візьмешся ?)
Якщо не хоч, завтра сам зроблю

[2015-07-01 20:40] mkozhukharenko commented on #47
поки за персони-заяви взявся )

[2015-07-01 20:50] mkozhukharenko opened #78 "Заповнені дані не зберігаються при переході до іншої view"
Сторінка "персони" -> відкриваю "редагування персони"
Обираю вкладку "документи" -> заповнюю поля (додаю атестат) -> "додати документ"
Обираю вкладку "заяви" -> "додати заяву"

Очікуваний результат
не можна перейти на іншу вьюху поки не збережеш зміни (альтернатива - попереджати юзера що потрібно зберегти щойно внесені дані перед тим який перейти до іншої вьюхи)

Фактичний результат
Коли повертюся

[2015-07-01 21:17] ivanursul commented on #47
От сів собі ше думати, і розумію, що це не вийде на стороні фронтенду зробити.Дані ж в базі зберігаються по різному.
Не роби поки того

[2015-07-01 21:19] ivanursul commented on #37
Завтра буду дивитись до того

[2015-07-01 21:20] ivanursul commented on #46
так виглядає, що це те саме, що Саша зауважив.Завтра буду дивитись до цього

[2015-07-01 21:20] ivanursul commented on #71
Ну ок, тоді ше придумаю як заборонити фільтрувати по id, і відпишусь

[2015-07-02 08:12] mkozhukharenko commented on #53
Якщо персону не вибирати через пошук який є на сторінці "Додавання заяви" то документи персони (навіть якщо вони є і підходят paperUsage 2) не підтягуються.

Тобто якщо зробии кроки
2. Click "+ Додати заяву" button to open an input form.
3. Click "+ Додати новий документ" button to attach a new document.

то в випадаючому списку пусто.

[2015-07-02 09:07] mkozhukharenko opened #80 "Пошуку персони (сторінка "Заяви") управління клавіатурою"
1 Сторінка "Список заяв" -> відкриваю "додати заяву"
2 Вводжу призвіще в поле "Пошук персони" ->  натискаю "Enter"

Очікуваний результат
Отримую список персон

Фактичний результат
Отримую список пропозицій

![](http://i.imgur.com/flotKpO.png)

[2015-07-02 09:16] illay1994 commented on #52
ні ці дані я додам зараз

[2015-07-02 10:09] MPushkar commented on #71
<b>Update</b>:
Same issue exists for "серії ОС".

[2015-07-02 11:38] Krapka opened #81 "Зайве повідомлення "додайте адресу""
При редагуванні існуючої персони, з'являється повідомлення "Будь ласка, додайте адресу!". При тому, що всі поля на кожній вкладці, заповнені
![4cddfd0cce69849d0e8bafeadeb74fa4](https://cloud.githubusercontent.com/assets/8030424/8476205/cd35ee80-20c7-11e5-98ec-f0d3263417a3.png)

[2015-07-02 11:51] Krapka opened #82 "Додавання персони ->адреси"
Якщо обрати "місце народження"/"адреса реєстрації" - Київ, дійти до поля "райони м.Києва", то у випадаючому списку відображається лише 6 районів з 10. (немає наступних -  Печерський,Подільський,Святошинський, Солом'янський)
Перевіряла ще на кількох містах і, здається, лише по "Києву" нестача районів.
Якщо ця форма все ж залишиться, то потрібно їх додати.

[2015-07-02 12:05] Krapka opened #83 "Додавання фото до персони"
При створенні нової персони або редагуванні існуючої не завантажується фото.
Через кнопку "вибрати файл" обираю фото з комп'ютеру- поряд з кнопкою з'являється назва файлу - ніякої кнопки типу "підтвердити" чи "завантажується" не з'являється
Якщо ж просто натиснути "зберегти" в  персоні і переглянути її, то фото все таки немає.

[2015-07-02 12:22] Krapka opened #84 "Гортання сторінок в "Пропозиції""
Некоректно працює пагінація - кнопки "«" та "»" рухаються лише на одну сторінку (вперед або назад), а мали б повертати в початок або кінець списку відповідно.
Ну і потрібно додати можливість переходити в кінець/початок списку.

Пропоную встановити таку ж форму, як в персонах
![4f3b4ce8b48f330986b09be3019999d9](https://cloud.githubusercontent.com/assets/8030424/8476792/6254a3f8-20cd-11e5-94ca-8e946

[2015-07-02 13:23] illay1994 commented on #52
додав дані але вони не появилися у на frontEnd

[2015-07-02 13:23] ivanursul commented on #37
Закомітив, можеш тестувати, поки білд запускається, через 20-30 хв можеш дивитись

[2015-07-02 13:27] ivanursul commented on #71
Update:
Same issue exists for "серії ОС".
Можеш кинути запит, який шлеться ?

[2015-07-02 13:43] MPushkar opened #85 "User is not able to save "Заява". Nothing happens after ckicking "Зберегти" button."
Nothing happens after clicking "Зберегти" button.
Following error is shown in Web Console when user tries to save newly created "Заява":

16:36:15.521 "Error: currentObj is undefined
addOrEditEnrolment@http://194.44.198.221/scripts/services/enrolments/EnrolmentREST.js:88:9
$scope.sendToServer@http://194.44.198.221/scripts/controllers/enrolments/newEnrolment.js:66:9
$parseFunctionCall@http://194.44

[2015-07-02 14:23] MPushkar opened #86 "User should be able to save "Мiсце народження" address on a city level"
Currently user is not able to save Person when its "Мiсце народження" address is set as a city, e.g. ЛЬВIВ.
Level "РАЙОНИ" should not be required because not everyone knows the correct answer.

[2015-07-02 14:26] ivanursul commented on #71
серія ОС - це docSeries поле, відповідно я це також пофіксав.

[2015-07-03 05:10] MPushkar commented on #71
<b>Returned.</b>
Searching by "id" should be removed from a list of options for "Персони".

[2015-07-03 11:12] MPushkar opened #87 ""id" column should be removed from grid in "Персони" and "Заяви""
"id" searching option for Persons should be removed from "Персони" and from "Заяви" tabs.

"id" searching option for Persons should be removed from "Додавання заяви" form.

[2015-07-03 13:27] mkozhukharenko commented on #52
зараз поправлю фронтенд

[2015-07-03 14:50] MPushkar opened #88 "User is not able to modify personal record - it doesn't change after clicking "Зберегти" button"
Pre-conditions:
- Any personal <b>Record1</b> should be present in system.

Steps to reproduce:
1. Login to System under Admin and go to a "Персони" tab.
2. Click ![lnu_modify_button](https://cloud.githubusercontent.com/assets/12950571/8501140/57b5f09e-21ab-11e5-8c39-5d268842db28.PNG) button for <b>Record1</b>.
3. Modify any field, e.g. "По-батькові" and click "Зберегти" button.
4. Go to "Персони"

[2015-07-03 15:57] mkozhukharenko commented on #52
fixed, please test

[2015-07-03 17:37] #80 closed, assigned to nobody

[2015-07-04 08:54] mkozhukharenko commented on #85
незрозуміло як має виглядати POST запит до серверу

headers
`
"Authorization Basic": "YWRtaW46bmltZGE="
"Content-Type": "application/json"
`
body

[code]

повертає помилку 404

що означають поля utid, crtUser, crtUserGrou, uapp, uid ?
uri не потрібен

[2015-07-04 09:05] mkozhukharenko commented on #85
Потрібно на сервері додати поле markscaletype (шкала оцінювання) #52

[2015-07-04 13:04] mkozhukharenko commented on #85
(!) "endDate" is required.
need to be chacked

[2015-07-04 13:15] mkozhukharenko opened #91 "User input validation - new Enrolment form"
Реалізувати валідацію на стороні фронтенда у формі "новая заява"
Серія заяви - (латиниця_кирилиця_цифри) ?
Номер заяви - лише цифри, максимальна довижна ?
Загальний бал - цифри, максимальна величина ?
Пріоритет - мінімум 1, максимум 15

[2015-07-04 13:21] illay1994 commented on #91
Номер лише цифри

[2015-07-04 13:24] illay1994 commented on #91
Серія чифри тільки кирилиця  або тільки латинь

[2015-07-04 16:48] MPushkar commented on #52
<b>Ilya</b>,

Is the following list of options full?
Is the spelling correct?

<b>п"ятибальна
дванадцятибальна
шестидесятибальна
стобальна
двохсотбальна
ECTS
спiвбесiда</b>

[2015-07-04 18:28] mkozhukharenko commented on #67
виправив, все зберігається.
але деякі поля (як то "документ" "тип вступу") не підтягуються при редагуванні чи перегляді заяви, виправлю

[2015-07-04 18:41] mkozhukharenko commented on #66
fixed, please test

[2015-07-04 18:41] mkozhukharenko commented on #85
fixed, please test

[2015-07-04 18:42] mkozhukharenko commented on #81
fixed, please test

[2015-07-04 18:44] mkozhukharenko commented on #52
:heavy_exclamation_mark: marksale field need to be added in backend side

[2015-07-04 19:15] #47 closed, assigned to Krapka

[2015-07-04 19:21] Krapka commented on #81
Повідомлення немає, але персона тепер не зберігається.
Ну і нотифікейшн все ж має бути, якщо поля з адресою не заповнені

[2015-07-05 05:38] mkozhukharenko commented on #81
прибрав напис "додайте адресу" але разом з тим і нотіфікейнш про який ти кажеш.
Справав в тому что прогрес бар (сам прогрес бар, нотіфікейншини, дисейбл-енейбл кнопка зберегти яка прикручується до бару) - це все один модуль, який не працює корректно для жодної з вьюх (нова заявка, нова персона, новий спекофер). Виправивши якісь недоліки по прогрес бару тут покличуть за собою недоліки в інших вьюха

[2015-07-05 10:51] mkozhukharenko commented on #67
fixed, test please
tabs "основна інформація" :white_check_mark: and
"пільги":white_check_mark:  works well
but
"предмети зно" :question:
"стату" :question:
need to be tested and fixed

If there are problems - it should be different issues.

[2015-07-05 10:52] mkozhukharenko commented on #65
:white_check_mark: fixed

[2015-07-05 10:52] mkozhukharenko commented on #91
:white_check_mark: added

[2015-07-05 10:52] #91 closed, assigned to illay1994

[2015-07-05 11:36] ITsvetkoFF commented on #88
Да, система сира нажаль. перевірив. запис помінявся. був Іван Іванович Іваненко, став Іванко Іванович Іваненко.
Біда відбувається з персоною для якої не внесено адресу. Якщо адресу внесено, то все працює ніби.

[2015-07-05 11:47] mkozhukharenko commented on #53
:white_check_mark: fixed, please test

[2015-07-05 11:50] mkozhukharenko commented on #88
спостерігав що з консолі постійно летять помилки які стосуються адреси, типу

[code]

я бачив що директиву яка відповідає за додавання адрес змінювали, з якою метою? Тобто чи пофіксили її ? Чи просто помилки летять через те що адреса не додана?

[2015-07-05 12:26] mkozhukharenko opened #95 "Реалізувати ваідацію табів"
потрібно придумати хитру валідацію

**Потрібно дозволяти дозволяти відправляти** (розблоковувати кнопку "зберегти") **будь-яку з табку окремо** :heavy_exclamation_mark:  (незалежно від заповненості інших табок)  (зауважимо що весь обьект буде відправлено EntireEnrolment/entirePerson) **і в тому же час НЕ дозволяти відправляти (заблокувати кнопку) якщо якась з табок не заповнена до кінця** :heavy_e

[2015-07-05 12:47] mkozhukharenko opened #96 "Додати можливість вибору вступної компанії у заяві"
Додати можливість вибору вступної компанії (рік) у заявах (як у пропозиціях)
Вибір юзера буде вплавати на
1) пошук пропощиції у вкладці "основна інформація" view enrolment()
2) відображенні заяв в view "список заяв" (enrolment/list)

на міце червоного прямокутника
![](http://storage1.static.itmages.com/i/15/0705/h_1436100299_3562737_9f59996d72.png)

як тут
![](http://storage1.static.itmages.com/i/

[2015-07-05 14:46] mkozhukharenko opened #97 "Перейти на використання директиви GeneralTable у Пропозиціях"
Перейти на використання директиви GeneralTable у Пропозиціях (list specoffer) (як у персонах та заявах)

цією таскою закриваються баги #84 #58 #60
на даний момент виглядає так
![](http://storage3.static.itmages.com/i/15/0705/h_1436107547_1977190_accef8fe30.png)

має виглядати ось так
![](http://storage2.static.itmages.com/i/15/0705/h_1436107449_9110590_515b6727b8.png)

[2015-07-05 14:47] mkozhukharenko commented on #84
це баг закриється  таскою #97

[2015-07-05 14:47] #84 closed, assigned to nobody

[2015-07-05 14:49] mkozhukharenko commented on #58
це баг закриється таскою #97

[2015-07-05 14:49] #58 closed, assigned to nobody

[2015-07-05 14:53] mkozhukharenko commented on #56
потрібно просто перекинути юзера на іншу view (наприклед specoffer list), так як це реалізовано в заявах та персонах.

[2015-07-05 15:04] mkozhukharenko commented on #68
сабтаск  #57

[2015-07-05 15:05] mkozhukharenko commented on #57
parent task #68

[2015-07-05 15:07] mkozhukharenko commented on #59
can you provide screenshot? And check if this task is a subtask to #68

[2015-07-05 15:07] mkozhukharenko commented on #60
цей таск закриється виконанням таску #97

[2015-07-05 15:08] #60 closed, assigned to nobody

[2015-07-05 15:11] mkozhukharenko commented on #70
is this task actual? If no - please close it

[2015-07-05 15:11] mkozhukharenko commented on #81
цей таск має пряме відошення до таску https://github.com/ifnul/ums-admission-frontend/issues/95

[2015-07-05 15:12] mkozhukharenko commented on #82
Питання до Іллі. Як я розумію ці дані відповідають данним які містяться в державній БД

[2015-07-05 15:14] mkozhukharenko commented on #86
relates to https://github.com/ifnul/ums-admission-frontend/issues/82

[2015-07-05 15:15] mkozhukharenko commented on #6
this bug fixed

[2015-07-05 15:15] #6 closed, assigned to nobody

[2015-07-05 15:16] mkozhukharenko commented on #9
check, please, if this bug is actual. If no - close it

[2015-07-05 15:18] mkozhukharenko commented on #15
здається цей баг вже не актуальний.
@ivanursul перер будь-ласка.

[2015-07-05 15:20] mkozhukharenko commented on #12
@ivanursul можеш додати скріни? Або посилання на приклади чи сайти де реалізовано так як ти описав?

[2015-07-05 15:21] mkozhukharenko commented on #16
цей таск  має закритися таском https://github.com/ifnul/ums-admission-frontend/issues/68
@illay1994 вірно?

[2015-07-05 15:24] mkozhukharenko commented on #17
навіть не знаю як це можна реалізувати конктерно через команду npm.
це потрібно для розробки чи для деплоя ?
якщо для останнього - то можна через grunt створити команду яка буде збирати білд з потрібним адресом до серевер.
@ivanursul поясни детальніше, будь-ласка

[2015-07-05 15:25] mkozhukharenko commented on #25
@illay1994 перевір, будь-ласка, чи таск актуальний

[2015-07-05 15:30] mkozhukharenko commented on #34
у персонах та пропозиція потрібно винести модель (`$scope.entireSpecoffer, $scope.entirePersob`) у відповідні сервіси.
реалізувати таким же чином як реалізовано  [у заявах (Enrolment)](https://github.com/ifnul/ums-admission-frontend/blob/master/app/scripts/services/enrolments/EnrolmentModel.js)

[2015-07-05 15:31] mkozhukharenko commented on #36
напевно немає бути.
потрібно уточнити у @illay1994
relates to #97

[2015-07-05 15:31] #36 closed, assigned to illay1994

[2015-07-05 15:33] mkozhukharenko commented on #52
:white_check_mark: works fine

[2015-07-05 15:33] mkozhukharenko commented on #52
test please

[2015-07-05 17:07] illay1994 commented on #82
Ок перевірю

[2015-07-05 17:10] illay1994 commented on #88
програма має працювати навіть якщо у персони не введено адресу цілісність даних при цьому залишається

[2015-07-05 18:08] mkozhukharenko commented on #88
@illay1994 ти маєш на увазі якщо 1) адреси взагалі немає чи 2) якщо адреса є, але при її виборі юзер не дійшов "до дна" (наприклад зупинився на місті, але дале ще були райони) ?

[2015-07-05 19:08] mkozhukharenko commented on #78
relates to #34

[2015-07-05 19:08] mkozhukharenko commented on #34
relates to #78

[2015-07-06 05:48] MPushkar commented on #85
Was tested on Build#29.

[2015-07-06 05:48] #85 closed, assigned to MPushkar

[2015-07-06 05:54] MPushkar commented on #70
Kolya, current task <b>is required</b> because user <b>shouldn't be able</b> to use "Пропозиції" and "Статистика" functionalities on version 1.0.

[2015-07-06 06:27] MPushkar commented on #59
Kolya, user is just not able to delete any records from the "Персони" tab. It's hard to make a screenshot for that.
I can't answer if this task is a subtask to #68 because I don't know whether they're related or not.

[2015-07-06 06:34] MPushkar commented on #52
<b>Kolya</b>,

Is the following list of options full?
Is the spelling correct?

<b>п"ятибальна
дванадцятибальна
шестидесятибальна
стобальна
двохсотбальна
ECTS
спiвбесiда</b>

[2015-07-06 06:41] MPushkar commented on #53
Was tested on Build#29.

[2015-07-06 06:41] #53 closed, assigned to MPushkar

[2015-07-06 07:57] MPushkar commented on #46
Was tested on Build#29.

[2015-07-06 07:57] #46 closed, assigned to MPushkar

[2015-07-06 08:04] MPushkar commented on #37
<b>Returned</b>.
Issue is still reproducible, e.g. on a Person №51.

[2015-07-06 08:29] ivanursul commented on #17
Ну дивись, це потрібно для того, щоб легко збирати систему в випадку різних хостів, параметрів ітд.Припустимо я збираю цю систему для університету. В цьому випадку я конкретно знаю куди буде деплоїтись продукт, відповідно можу поміняти в файлику Constants.js адресу бекенду. А якщо хтось, не причетний до девелопменту попробую зібрати цей продукт ?Йому треаб конкретно відкривати імплементацію Consta

[2015-07-06 08:32] ivanursul commented on #15
А можна зробити так, щоб спочатку була видима лише вкладка "Основна інформація", потім натискається кнопка "ЗБерегти", вкладка "Основна інформаці" пропадає, появляється вкладка "Адреса" і тд ?
Ілля, асайню на тебе, шоб сказав свою думку і скомунікував.Після того заасайнь на Миколу.

[2015-07-06 08:35] ivanursul commented on #12
В нас ці довідники всі без бордерів.
Маю на увазі, зробити так, шоб був бордер:  Наскільки я знаю, ми юзаємо Бутстрап, відповідно треба заюзати клас .table-bordered

[2015-07-06 08:50] okrasn commented on #37
Server not parse multi filter of Резидент, Військовозобов'яз, Потреба в гуртожитку...

[2015-07-06 09:15] ivanursul commented on #37
Можна ріквест - ріспонс?

[2015-07-06 09:24] ivanursul commented on #37
Просто з першого погляду так виглядає, шо не потрібно відправляти мульти ріспонзи для цих значень, бо ці всі значення - це є boolean значення, відповідно нема необхідності відправляти мультизначення,бо їх всього може бути 2(true|false або 1 | 0).

[2015-07-06 10:33] mkozhukharenko commented on #70
Ok
Is this means that temporary all issues about "Пропозиції" and "Статистика" is no actual?

[2015-07-06 10:35] mkozhukharenko commented on #52
@illay1994 added this info to the data base, I got it from there. I think so

[2015-07-06 10:37] MPushkar commented on #61
<b>Testing is Blocked</b> until the issue #37 is fixed.

[2015-07-06 10:47] mkozhukharenko commented on #17
можно сделать следующим образом
либо
1) создать несколько файлов Constants.js с разными значениями строки и в зависимости от параметра который передается в команде использовать тот или иной файлы, например
grunt build --backend.url=xxx
grunt build --backend.url=yyy
файлы называются, например
Constants-xxx.js
Constants-yyy.js

2) или же похитрее вариант: принимать полный url (адрес сервера) и прост

[2015-07-06 10:53] mkozhukharenko commented on #15
у нас есть issue https://github.com/ifnul/ums-admission-frontend/issues/68 , я подума что оно перекрывает эту таску.
#68 здесь предлагается сделать все в один список
а в этом таске - оставить так как есть (разбиение на части) + реализовав визард
Я с Иллей обсуждал первый вариант - #68

можно просто остальные вкладки заблокироватью Заполнил "основну инфо", нажал кнопку "дальше" перекинуло на вкладк

[2015-07-06 11:23] MPushkar commented on #70
Yes, so far.
I've changed the priority to "Low".

[2015-07-06 11:43] illay1994 opened #100 "[Critical] Добавление документа - реализовать директиву"
http://c2n.me/3kkvndH.png

[2015-07-06 11:43] illay1994 opened #101 ""Нова персона" - rebuild tab "Основна інформація""
Індекс -> забрати
Серія особової справи-> забрати
Номер особової справи-> забрати

Сiмейний стан -> неодружений або незаміжня
Сімейний стан поставити після Статі

[2015-07-06 11:45] illay1994 opened #102 ""Нова заява" - rebuild tab "Основна інформація""
Поставити активні ChekBox
Бюджет
Контракт
Тип вступу->За даними сертифіката
Деталiзацiя вступу->За даними сертифіката

[2015-07-06 11:46] mkozhukharenko commented on #100
описание:
реализовать директиву для добавления документов разных типов (вместо сущетсвующего кода [в контроллере](https://github.com/ifnul/ums-admission-frontend/blob/master/app/scripts/controllers/person/tabPaper.js)

![](http://c2n.me/3kkvndH.png)

[2015-07-06 11:50] mkozhukharenko commented on #101
![](http://i.imgur.com/SiGHXYJ.png)

[2015-07-06 12:06] illay1994 commented on #52
Допустимі значення:
п'ятибальна
дванадцятибальна
шестидесятибальна
стобальна
двохсотбальна
ECTS
співбесіда

[2015-07-06 12:28] mkozhukharenko commented on #101
relates to #16

[2015-07-06 14:24] MPushkar commented on #52
Was tested on Build#30.

[2015-07-06 14:24] #52 closed, assigned to MPushkar

[2015-07-06 17:15] MPushkar commented on #59
<b>Same issue exists for "Заяви".</b>

[2015-07-06 17:32] ivanursul commented on #59
Можете сказати яку саме заяву не можна видалити ?
скиньте айдішку
або ріквест зразу.

 PS - може бути таке, шо в юзера того немає першішенів.

[2015-07-06 18:25] mkozhukharenko opened #103 "[Task] delete "Заява""
Прикрутити функціонал видалення "Заяви" (на даний момент він взагалі не реалізований)

[2015-07-06 18:28] mkozhukharenko commented on #59
@MPushkar , створив окремий таск для цього https://github.com/ifnul/ums-admission-frontend/issues/103

[2015-07-06 19:01] MPushkar commented on #59
@mkozhukharenko, thanks! )

@ivanursul,
Риквестов как таковых вовсе не шлётся.
Не удаётся удалить <b>любую</b> Персону/Заяву:
<b>Персони</b>:
![lnu_delete_record](https://cloud.githubusercontent.com/assets/12950571/8530444/aca51c58-2429-11e5-97a0-04968e35bb94.png)

<b>Заяви</b>:
![lnu_delete_record_2](https://cloud.githubusercontent.com/assets/12950571/8530621/a841a78e-242a-11e5-8af1-3151a3fe8545.

[2015-07-06 19:06] MPushkar commented on #103
Screenshot:
![lnu_delete_record_2](https://cloud.githubusercontent.com/assets/12950571/8530718/4619e5c0-242b-11e5-9627-93f5fee76b13.png)

[2015-07-07 07:45] mkozhukharenko commented on #100
this issue relates to #68 #101

[2015-07-07 13:52] MPushkar commented on #69
<b>Returned.</b>
1) Switching from "10" records to "100" records <b>doesn't work</b>.
2) The default number of records for "Заяви" <b>is not 10</b>.

[2015-07-07 14:05] MPushkar commented on #8
Closed as <b>Not reproducible</b>.

[2015-07-07 14:05] #8 closed, assigned to nobody

[2015-07-07 14:33] MPushkar opened #104 "Персони/Заяви: Sorting order resets to default each time after turning the pages."
Expected result:
User should be able to select sorting order and turn the pages according to this chosen order.

Actual result:
Sorting order resets to default each time after turning the pages.

[2015-07-07 14:51] MPushkar opened #105 "Персони: misspelling in "призвіщу" option within a "Пошук по:" drop-down list."
<b>"Персони" tab</b>:
Misspelling in "<b>призвіщу</b>" option within a "Пошук по:" drop-down list:
![lnu_search_by](https://cloud.githubusercontent.com/assets/12950571/8548844/fadea762-24cf-11e5-8e94-eaa5679ab183.PNG)

Correct name of option is "<b>прізвищу</b>".

[2015-07-07 16:30] mkozhukharenko commented on #104
it seems smth was broken after fixing this issue https://github.com/ifnul/ums-admission-frontend/issues/69

[2015-07-07 17:01] mkozhukharenko commented on #78
у персонах та пропозиція потрібно винести модель ($scope.entireSpecoffer, $scope.entirePersob) у відповідні сервіси.
реалізувати таким же чином як реалізовано у заявах (Enrolment)

[2015-07-07 17:02] mkozhukharenko commented on #55
relates to #34

[2015-07-07 18:35] #65 closed, assigned to Krapka

[2015-07-07 18:42] mkozhukharenko commented on #70
make menu items "Пропозиції" and "Статистика" hidden in the header
but they are still available through url:
"Пропозиції" - _#/specoffer/list_
"Статистика" - _#/statistics_

[2015-07-07 19:36] mkozhukharenko commented on #68
адресу реєстрації та адресу проживання переносимо з таби "адреси" в табу "основна інформація" ?

[2015-07-07 19:38] mkozhukharenko commented on #68
отож, міце напродження не потрібно взагалі вибирати? Чи залишити поля і просто їх автоматично підтягувати з поля "місце реєстрації" і дати юрезу можливість внести зміни? Було б логічно тоді пернести "місне народження" у влкдаку "адреси" чи навпаки

нараза влкдака "адреси" реалізована наступним чином
![](http://i.imgur.com/lQsHjaW.png)

[2015-07-07 21:23] mkozhukharenko commented on #102
fixed

[2015-07-08 07:53] illay1994 commented on #101
Чи потребує гуртожиток -> default так

[2015-07-08 07:54] mkozhukharenko commented on #101
вся інфма буде розбита на таби по наступним блоокам (блоки 1 та 2 об*єднуються)

![](http://i.imgur.com/DZyo8Om.png)

[2015-07-08 08:31] illay1994 commented on #87
Id персони забрати із фільтрації на сторінці personList

[2015-07-08 10:08] MPushkar opened #108 "Персони: An empty input form opens when user clicks "edit' button to modify data for existing Person."
Pre-conditions:
- Any personal <b>Record1</b> should be present in system.

Steps to reproduce:
1. Login to System under Admin and go to a "Персони" tab.
2. Click ![57b5f09e-21ab-11e5-8c39-5d268842db28](https://cloud.githubusercontent.com/assets/12950571/8567934/072c9914-2572-11e5-9dee-42fa373c7b24.png) button for the <b>Record1</b>.

Actual result:
An input form is opened with <b>blank</b> values

[2015-07-08 10:31] MPushkar opened #109 "Персони/Заяви: a hint within "Пошук по:" field should be correspondent to a selected searching option."
On "Персони" tab we have a correct hint for "прізвищу":
![lnu_search1](https://cloud.githubusercontent.com/assets/12950571/8568324/5db7fcd0-2575-11e5-956c-00524983c86d.PNG)

However, hints for other options are incorrect, e.g. "номеру ОС":
![lnu_search2](https://cloud.githubusercontent.com/assets/12950571/8568346/8956d0b4-2575-11e5-82c6-1d005f20a567.PNG)

<b>Same issue exists for searching options

[2015-07-08 12:36] mkozhukharenko commented on #101
_Please discover this new design and put your notes_

![](http://i.imgur.com/k5CX32p.png)

![](http://i.imgur.com/svI7qIT.png)

![](http://i.imgur.com/u2BCuOY.png)

![](http://i.imgur.com/0UK7BBa.png)

![](http://i.imgur.com/tpLRfV7.png)

![](http://i.imgur.com/1VQnZDs.png)

![](http://i.imgur.com/GNeoGhv.png)

_Is't ok to add button "Зберегти" near button "Далі" and anable it after all informatio

[2015-07-08 12:56] illay1994 commented on #101
треба буде назви таб Посвідчення і атестати замінити але я ще не знаю на які

[2015-07-08 13:05] mkozhukharenko commented on #101
таба документи буде виглядати якось так
![](https://camo.githubusercontent.com/7f1eede838e4e08c5500f3ed073a5e1f7c101342/687474703a2f2f63326e2e6d652f336b6b766e64482e706e67)

[2015-07-08 14:38] MPushkar commented on #50
Was tested on Build#35.

[2015-07-08 14:38] #50 closed, assigned to MPushkar

[2015-07-09 07:29] MPushkar commented on #69
<b>Returned.</b>
The default number of records for "Заяви" is not 10.

[2015-07-09 13:34] MPushkar commented on #70
<b>Testing is Blocked</b> until the functionality is deployed on Master env.

[2015-07-09 14:05] mkozhukharenko commented on #100
так мають виглядати директива для додавання документів:

![](http://i.imgur.com/vagQvRH.png)

![](http://i.imgur.com/SwSQgwa.png)

[2015-07-09 14:23] illay1994 commented on #100
всіц інші типи документів які не винесені оремо об`єднати разом і написати інші документи

[2015-07-09 14:29] MPushkar opened #110 "Персони: Searching by "номеру ОС" and "серії ОС" doesn't work for newly created Persons"
Repro Steps:
1. Login to System under Admin and go to a "Персони" tab.
2. Create a new <b>Person1</b> with its unique "<b>Серія ОС</b>".
3. Get back to the "Персони" tab.
4. Search for the <b>Person1</b> by its "<b>Серія ОС</b>".

Actual Result:
<b>Person1</b> is not shown on the "Персони" tab.

Expected Result:
<b>Person1</b> should be shown on the "Персони" tab.

<b>Please note</b> that current

[2015-07-09 15:05] MPushkar commented on #110
Searching for a Person should be fixed within a "Заяви > <b>Додавання заяви</b>" input form as well.

[2015-07-09 15:21] mkozhukharenko commented on #100
над кожним сетом інпутів має бути таблиця в якій відображаються всі додані документи цього типу (категорії)
@illay1994 вірно?

наприклад

![](http://i.imgur.com/Ua8fQDM.png)

##

![](http://i.imgur.com/nrXWYA2.png)

а разом ось так

![](http://i.imgur.com/LY1UKDi.png)

[2015-07-09 20:08] mkozhukharenko commented on #68
чи потрібно робити інпути "серія" "номер особової справи" обов_язковими?
всі інші поля вже є обов_язковими. Дефолтне значення для громадянства україна
![](http://i.imgur.com/nyvlTY8.png)

[2015-07-09 20:09] illay1994 commented on #68
ні вони не є обов’язкові

[2015-07-09 20:17] mkozhukharenko commented on #68
а тут?
![](http://i.imgur.com/zSslTIK.png)

[2015-07-09 20:19] mkozhukharenko commented on #68
і вкладка контакти - поглянь будь-ласка

![](http://i.imgur.com/807q9jH.png)

[2015-07-10 09:37] mkozhukharenko commented on #68
identifier (індекс мат. відповідального) - не є обовязковим полем і воно є прибраним з UI
але сервер його вважає обов*язковим

@illay1994 Що робити:
1) передавати завжди якесь значення по дефолту? якщо так то яке?
2) або ж зробіть його на сервері не обо*язковим

[2015-07-11 14:52] illay1994 commented on #68
я зробив його на сервері не обо*язковим

[2015-07-11 19:02] illay1994 commented on #69
fixed, please test

[2015-07-12 15:24] mkozhukharenko commented on #70
![](http://i.imgur.com/80dckw1.png)

[2015-07-12 17:23] mkozhukharenko commented on #34
fixed

[2015-07-12 17:24] mkozhukharenko commented on #57
fixed, test please

[2015-07-12 17:25] mkozhukharenko commented on #101
fixed

[2015-07-12 17:25] mkozhukharenko commented on #102
fixed, test please

[2015-07-12 17:26] mkozhukharenko commented on #105
fixed, please test

[2015-07-12 17:26] mkozhukharenko commented on #108
fixed

[2015-07-13 05:03] illay1994 opened #114 "Нова пропозиція-> пільги"
Коли пропозицію вибрли то потрібно видалити її із списку для вибору додати пільгу

[2015-07-13 05:04] illay1994 opened #115 "Заяви -> Нова заява"
Немає зараз можливості додати пільгу у заяву

[2015-07-13 06:17] mkozhukharenko commented on #114
можеш додати описа та/або скрін?

[2015-07-13 06:18] mkozhukharenko commented on #115
якщо є не помиляюся, то щоб додати пільгу у заяву то спочатку потрібно додати пільгу до пропозиції

[2015-07-13 08:39] MPushkar commented on #57
Was tested on Build#39.

[2015-07-13 08:39] #57 closed, assigned to MPushkar

[2015-07-13 08:44] MPushkar commented on #70
Was tested on Build#39.
Labels "Пропозиції" and "Статистика" are not hidden but are disabled on the Frontend. This fix is acceptable.

[2015-07-13 08:44] #70 closed, assigned to MPushkar

[2015-07-13 09:04] MPushkar commented on #105
Was tested on Build#39.

[2015-07-13 09:04] #105 closed, assigned to MPushkar

[2015-07-13 14:09] illay1994 opened #116 "Додати кнопку для синхронізації із ЄДБО"
Додати на сторінці PersonList і EnrolmentList
![untitled](https://cloud.githubusercontent.com/assets/10198202/8651450/9245e75e-2981-11e5-9b1b-f30b4aa981a3.png)

[2015-07-14 08:45] MPushkar opened #117 "It would be better to rename an "Ok" label for a search button to a "Шукати" according to Microsoft Guidelines"
In the <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/dn742402%28v=vs.85%29.aspx">Microsoft Guidelines</a> we have following rule for labels:
"<b>Prefer specific labels over generic ones.</b>"
It would be easier for user to understand the label "Шукати" than "Ok" all over Frontend.

Otherwise, "Ok" button should be renamed to all capitals: "OK". The spelling "Ok" is not correct

[2015-07-14 10:00] MPushkar commented on #108
Was tested on Build#39.

[2015-07-14 10:00] #108 closed, assigned to MPushkar

[2015-07-14 11:33] MPushkar commented on #102
Was tested on Build#39.

[2015-07-14 11:33] #102 closed, assigned to MPushkar

[2015-07-14 15:04] MPushkar commented on #101
<b>Testing is Blocked</b> until the issue #100 is fixed.

[2015-07-14 19:53] okrasn commented on #37
fixed

для того щоб на бек віддавалось лише одне значення а не кілька необхідно завести багу по переробленю 2 значних взаємовиключаючих значень фільтрів на радіобатони замість чекбоксів

[2015-07-15 06:06] mkozhukharenko commented on #37
я не знаю чи змінювалось щось в коді (фронт-бек) останнім часом, але такий випадок хендлився. Якщо вибрані 2 взаємовиключаючі значення (наприклад одночнасно поставлені чекбокси "контрактна форма навчання " та "бюджетна форма навчання") то на сервер не відравлявся жоден фільтер (тобто жодне з значення не потрапляло в масив фільтрів які застосовуються)
Якщо це зламалося через якійсь зміни в коді то

[2015-07-20 09:39] MPushkar commented on #69
Was tested on Build#40.

[2015-07-20 09:39] #69 closed, assigned to MPushkar

[2015-07-20 12:46] MPushkar commented on #37
Issue is reproducible in following way:
1. Check off an "іноземець" filtering option.
2. Check off an "не є іноземцем" filtering option.
3. Click "Оновити" button.

<b>Expected result</b>:
Both types of Persons should be shown.

<b>Actual result</b>:
Only Persons with "іноземець" type are shown, because this option was selected first.

<b>Same issue is reproducible for all y/n filters on both "Пер

[2015-09-21 15:38] ITsvetkoFF commented on #116
і що вона має робити??

[2015-09-21 15:40] ivanursul commented on #116
синхронізувати персону з ЄДЕБО сервером - ми так і не доробили цього.Ви ще займаєтесь проектом ?)

[2015-09-24 18:17] mkozhukharenko commented on #116
поки ні. Але потрібно було б відновити.